/*
 * application.css
 */

/* Correction for navbar */
body {
  padding-top: 50px;
}

.navbar-nav>li {
float: left;
}

/* Utility class for vertical alignment */
.vcenter {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

div#post-timestamp {
  color: #777;
  margin-bottom: 20px;
}

/* Home
-------------------------------------------------- */
/* Styling for hero section */
.hero {
  margin: 20px 0px;
  background-color: #f8f8f8;
}

/* About
-------------------------------------------------- */
@media (min-width: 768px) {
  .profile > div {
    margin-bottom: 30px
  }
}

/* Blog
-------------------------------------------------- */
/* Display images in posts on a line of their own */
article.post img {
  display: block;
  float: left;
  margin-bottom: 24px;
  margin-right: 24px;
  max-width: 100%;
  height: auto;
}

article.post p {
  clear: left;
}

/* Margin before recent posts */
article.post {
  margin-bottom: 24px;
}

div#post-content {
  margin-bottom: 48px;
}

article blockquote {
  font-size: 1em;
}

article pre {
  display: block;
  font-size: 0.7em;
  background-color: #f8f8f8;
}

article pre.inline {
  display: inline;
}

/* syntax highlight based on GitHub's
TODO there must be a better way... */ 
article pre .pl-c {
  color: #6a737d;
}
article pre .pl-cl {
  color: #005cc5;
}

article pre .pl-en {
  color: #6f42c1;
}

article pre .pl-k {
  color: #d73a49;
}
article pre .pl-s {
  color: #032f62;
}

article pre .pl-v {
  color: #e36209;
}

article i.fa-check {
  color: #6ea43b;
}

article i.fa-times {
  color: #ec2e2d;
}

article .indent {
  margin-left: 100px;
}

/* Contact
-------------------------------------------------- */
/* Margin after icons */
#contact i {
  margin-right: 12px;
}

a .contact-text {
  color: #555
}

a:hover .contact-text,
a:focus .contact-text {
  color: #777;
  text-decoration: underline;
}

/* Sticky footer styles
 -------------------------------------------------- */
@media (max-width: 767px) {
  body {
    margin-bottom: 120px;
  }

  .footer {
    /* Set the fixed height of the footer here */
    min-height: 120px;
  }

  body>.container {
    padding: 120px 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    margin-bottom: 80px;
  }

  .footer {
    /* Set the fixed height of the footer here */
    min-height: 80px;
  }

  body>.container {
    padding: 80px 15px 0;
  }
}

@media (min-width: 992px) {
  body {
    margin-bottom: 60px;
  }

  .footer {
    /* Set the fixed height of the footer here */
    min-height: 60px;
  }

  body>.container {
    padding: 60px 15px 0;
  }
}

html {
  position: relative;
  min-height: 100%;
}


 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #353544;
}

.footer>.container p {
  margin: 20px 0;
}

.footer>.container p a {
  color: #b3b3b3;
  padding: 0 5px;
}

.footer>.container p.text-muted a {
  color: #777;
  padding: 0;
}

.footer>.container p a:hover,
.footer>.container p a:active {
  color: #fff;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}
