/*
 * application.css
 */

/* Correction for navbar */
body {
  padding-top: 50px;
}

.navbar-nav>li {
float: left;
}

/* Utility class for vertical alignment */
.vcenter {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

/* Home
-------------------------------------------------- */
/* Styling for profile section */
.profile {
  padding: 40px 0px;
  background-color: #f8f8f8;
}

@media (min-width: 768px) {
  .profile img {
    padding-top: 30px
  }
}

/* Work
-------------------------------------------------- */
/* Padding on images */
.work img {
  padding-right: 10px;
}

/* Blog
-------------------------------------------------- */
/* Display images in posts on a line of their own */
article.post img {
  display: block;
  margin-bottom: 24px;
}

/* Contact
-------------------------------------------------- */
/* Margin after icons */
#contact i {
  margin-right: 12px;
}

a .contact-text {
  color: #555
}

a:hover .contact-text,
a:focus .contact-text {
  color: #777;
  text-decoration: underline;
}

/* Sticky footer styles
 -------------------------------------------------- */
@media (max-width: 767px) {
  body {
    margin-bottom: 120px;
  }

  .footer {
    /* Set the fixed height of the footer here */
    min-height: 120px;
  }

  body>.container {
    padding: 120px 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    margin-bottom: 80px;
  }

  .footer {
    /* Set the fixed height of the footer here */
    min-height: 80px;
  }

  body>.container {
    padding: 80px 15px 0;
  }
}

@media (min-width: 992px) {
  body {
    margin-bottom: 60px;
  }

  .footer {
    /* Set the fixed height of the footer here */
    min-height: 60px;
  }

  body>.container {
    padding: 60px 15px 0;
  }
}

html {
  position: relative;
  min-height: 100%;
}


 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #353544;
}

.footer>.container p {
  margin: 20px 0;
}

.footer>.container p a {
  color: #b3b3b3;
  padding: 0 5px;
}

.footer>.container p.text-muted a {
  color: #777;
  padding: 0;
}

.footer>.container p a:hover,
.footer>.container p a:active {
  color: #fff;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}
