{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main %}

<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <img src="media/img/heather.jpg" alt="Heather McCartney">
      </div>
      <div class="col-sm-9 col-lg-10">
        <h1>Heather McCartney</h1>
        <p>I'm a software developer living in York, UK. My background is
          in Java but I'm also comfortable with Python.</p>
        <p>
          I've <a href="/work">worked in companies of all sizes</a> but
          lately I've enjoyed working with a couple of early-stage startups,
          most recently <a href="http://stashmetrics.com/" target="_blank">
          Stashmetrics</a> here in York and
          <a href="http://yossarianlives.com/" target="_blank">
          Yossarian</a> in London.
        </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.profile -->

<div class="container">

  <section class="blog_excerpt">
    <ul class="list-unstyled">

    {% for resource in resource.node.walk_resources_sorted_by_time() %}
      {% if loop.index0 < 5 %}<li><article class="post">
        <h3>
          <a href="{{ content_url(resource.url) }}">{{ res.meta.title }}</a>
        </h3>

        {{ render_excerpt(resource) }}
    </article></li>{% endif %}
    {%- endfor %}
    </ul>
  </section>
</div><!-- /.container -->

{% endblock %}
