{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main %}

<div class="home">
  <div class="container">
    <div class="row hero">
      <div class="col-sm-12">
        <h1>Heather McCartney</h1>
        <p>Hi! I'm a software developer living in York, UK. My background is
          in Java but I'm also comfortable with Python.</p>
        <p>At the moment I'm <a href="/blog/retreat.html">taking a few weeks
          out</a> to "level up" as a programmer, inspired by the approach taken
          by the <a href="https://www.recurse.com/">Recurse Center</a> in NYC.
        </p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.profile -->

<div class="container">
  <section class="blog_excerpt">
    <ul class="list-unstyled">

    {% for res in resource.node.walk_resources_sorted_by_time() %}
      <li><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></li>
    {%- endfor %}
    </ul>
  </section>
</div><!-- /.container -->

{% endblock %}
