{% extends "page.j2" %}
---
title: "Work"
---

{% block title %}{{ site_title }} : Work{% endblock %}
{% block content %}
<h1>Work</h1>
<p>I am the only software engineer I know who started off as a secondary school music teacher. After a brief stint as acting head of department in Tottenham, North London,
I took a bit of a break to do an MSc in Music Technology at York University with a view to teaching Music Technology at A Level.</p>
<p>Instead, I fell in love with coding and never went back (although at least I'm well qualified for <a href="https://www.codeclub.org.uk/" target="_blank">Code Club</a> when my oldest son starts primary school next year). In the past 10 years I've worked at a mixture of small companies and large, initially as a Java developer but with more emphasis on Python and UI work in recent years.</p>

<h3>Startup 3: <a href="http://stashmetrics.com/" target="_blank">Stashmetrics</a></h3>
<p>In January 2014, I was the first person hired by <a href="http://stashmetrics.com/" target="_blank">Stashmetrics</a>, a social media analytics company. When I arrived, Mike and Sam had just received funding from <a href="http://collider.io" target="_blank">Collider</a> and were busy building a product <a href="http://blog.codinghorror.com/go-that-way-really-fast/" target="_blank">really really fast</a> to start selling to clients as soon as possible.</p>
<p>In the first three months, I pulled together a coherent Java backend from Mike's prototypes and wrote the first dashboards (in <a href="https://www.meteor.com/" target="_blank">Meteor</a>, my first experience with the framework). We did some stuff with <a href="http://www.mongodb.org/" target="_blank">mongoDB</a>, got it all deployed on <a href="http://aws.amazon.com/" target="_blank">AWS</a>, and the initial feedback from clients has been positive.</p>

<h3>Startup 2: <a href="https://panoplia.co.uk/en/" target="_blank">Panoplia</a></h3>
<p><a href="https://panoplia.co.uk/en/" target="_blank">Panoplia</a> are a startup specialising in security solutions. They began as a consultancy business but now have several software projects at the prototyping stage that they aim to take to market. They recruited me early to be their first employee and I was responsible for taking their flagship product, <a href="https://doqex.com/">Doqex</a>, from prototype to launch.
</p>

<h3><a href="http://www.cpp.co.uk/" target="_blank">CPP</a></h3>
<p>From July 2012 I worked on a project to migrate all <a href="http://www.cpp.co.uk/" target="_blank">CPP</a>'s customer-facing websites from WebLogic to JBoss. Before this I developed a website used by call centre staff to answer queries on the various insurance products <a href="http://www.cpp.co.uk/" target="_blank">CPP</a> provide. The main technologies were HTML, CSS, JavaScript, jQuery, JSF and Java.</p>

<h3>Startup 1: <a href="http://www.wimac.co.uk/" target="_blank">WiMAC</a></h3>
<p><a href="http://www.wimac.co.uk/" target="_blank">WiMAC</a> are a small company who produce embedded and JEE software for controlling street lighting. My role was to oversee the Java development of their online configuration tools.</p>
<p>They had previously had no Java team lead, so I became responsible for setting up much of the infrastructure for ensuring best practice, including unit testing, continuous integration using Hudson (now <a href="http://jenkins-ci.org/" target="_blank">Jenkins</a>), bug tracking with <a href="http://www.bugzilla.org/" target="_blank">Bugzilla</a> and a wiki using <a href="http://moinmo.in/" target="_blank">MoinMoin</a>. I also handled much of the systems administration, setting up and configuring MySQL, Tomcat and Apache on their RedHat servers.</p>

<h3>ioko (now <a href="http://www.piksel.com/" target="_blank">Piksel</a>)</h3>
<p>At <a href="http://www.piksel.com/" target="_blank">ioko</a> I worked on what is now <a href="http://go.sky.com/vod/page/default/home.do">Sky Go</a>. The November 2009 release included support for viewing content on the Xbox games console and I was the main developer working on the SOAP Java API.</p>
{% endblock %}
