{% extends "page.j2" %} 
--- 
title: "Work" 
---
{% block title %}
{{site_title }} : Work
{% endblock %} 

{% block content %}
<h1>Work</h1>
<p>
  I have a music degree and began my working life as a secondary
  school music teacher. After a brief stint as acting head of department, I 
  took a break to do an MSc in Music Technology at York University with a view
  to teaching Music Technology at A Level.</p>
<p>
  Instead, I fell in love with coding and never went back. In the past 12 
  years I've worked at a mixture of small companies and large, initially as a 
  Java developer but with more emphasis on Python and UI work in recent years.
</p>
<p>
  (However, I haven't completely escaped - my 
  <a href="https://code-club-th.appspot.com/" target="_blank">Code Club at
  Tang Hall Primary</a> is now in its second year).
</p>

<h3>
  <a href="http://stashmetrics.com/" target="_blank">
    <img src="media/img/stashmetrics.png" alt="Stashmetrics logo">Stashmetrics
  </a>
  <small>Jan 2016</small>
</h3>
<p>
  I'm very happy to have been asked to come back to 
  <a href="http://stashmetrics.com/" target="_blank">Stashmetrics</a>,
  this time as a permanent employee. I work across the full stack,
  including <a href="https://angular.io/" target="_blank">Angular</a>,
  <a href="http://www.mongodb.org/"target="_blank">mongoDB</a>, 
  <a href="http://aws.amazon.com/" target="_blank">AWS</a>, Java and 
  <a href="http://storm.apache.org/">Apache Storm.</a>
</p>
<h3>
  <a href="http://yossarianlives.com/" target="_blank">
    <img src="media/img/panda.png" alt="Yossarian panda">Yossarian
  </a>
  <small>Mar 2015</small>
</h3>
<p>
  <a href="http://yossarianlives.com/" target="_blank">Yossarian</a> are 
  building a search engine with a difference. Traditional search engines
  can end up 
  <a href="http://en.wikipedia.org/wiki/Filter_bubble" target="_blank">telling
  us what we already know</a>, but 
  <a href="http://yossarianlives.com/" target="_blank">Yossarian</a> 
  aim to return results that are disparate, but related (my personal favourite: 
  heaven // tea).
</p>
<p>
  While I was there I worked on their infrastructure,
  including <a href="http://aws.amazon.com/" target="_blank">
  AWS</a>, <a href="https://learn.chef.io/" target="_blank">
  Chef</a>, <a href="http://titan.thinkaurelius.com/" target="_blank">
  Titan</a> and <a href="http://cassandra.apache.org/" target="_blank">
  Cassandra</a> and <a href="http://hadoop.apache.org/" target="_blank">
  Hadoop</a> as well as the usual Java and front end work.
<h3>
  <a href="http://stashmetrics.com/" target="_blank">
    <img src="media/img/stashmetrics.png" alt="Stashmetrics logo">Stashmetrics
  </a>
  <small>Jan 2014</small>
</h3>
<p>
  In January 2014, I was the first person hired by <a
    href="http://stashmetrics.com/" target="_blank">Stashmetrics</a>, a
  social media analytics company. When I arrived, Mike and Sam had just
  received funding from <a href="http://collider.io" target="_blank">Collider</a>
  and were busy building a product <a
    href="http://blog.codinghorror.com/go-that-way-really-fast/"
    target="_blank">really really fast</a> to start selling to clients as
  soon as possible.
</p>
<p>
  In the three months I was there, I pulled together a coherent Java backend
  from Mike's prototypes and wrote the first dashboards. This was my
  first commercial experience of <a href="https://www.meteor.com/"
    target="_blank">Meteor</a> and the initial feedback from clients was
  really positive. I left in April 2014 to have my second child, but continued
  to do some freelance work with them over the next year.
</p>

<h3>
  <a href="https://panoplia.co.uk/en/" target="_blank">
    <img src="media/img/panoplia.png" alt="Panoplia logo">Panoplia
  </a>
  <small>Jun 2013</small>
</h3>
<p>
  <a href="https://panoplia.co.uk/en/" target="_blank">Panoplia</a> are a
  startup specialising in security solutions. They began as a consultancy
  business but now have several software projects at the prototyping
  stage that they aim to take to market. They recruited me early to be
  their first employee and I was responsible for taking their flagship
  product, <a href="https://doqex.com/">Doqex</a>, from prototype to
  launch.
</p>

<h3>
  <a href="http://www.cpp.co.uk/" target="_blank">
    <img src="media/img/cpp.png" alt="CPP logo">CPP
  </a>
  <small>Aug 2010</small>
</h3>
<p>
  From July 2012 I worked on a project to migrate all <a
    href="http://www.cpp.co.uk/" target="_blank">CPP</a>'s customer-facing
  websites from WebLogic to JBoss. Before this I developed a website used
  by call centre staff to answer queries on the various insurance
  products <a href="http://www.cpp.co.uk/" target="_blank">CPP</a>
  provide. The main technologies were HTML, CSS, JavaScript, jQuery, JSF
  and Java.
</p>

<h3>
  <a href="http://www.wimac.co.uk/" target="_blank">
    <img src="media/img/wimac.png" alt="WiMAC logo">WiMAC
  </a>
  <small>Jan 2010</small>
</h3>
<p>
  <a href="http://www.wimac.co.uk/" target="_blank">WiMAC</a> are a small
  company who produce embedded and JEE software for controlling street
  lighting. My role was to oversee the Java development of their online
  configuration tools.
</p>
<p>
  They had previously had no Java team lead, so I became responsible for
  setting up much of the infrastructure for ensuring best practice,
  including unit testing, continuous integration using Hudson (now <a
    href="http://jenkins-ci.org/" target="_blank">Jenkins</a>), bug
  tracking with <a href="http://www.bugzilla.org/" target="_blank">Bugzilla</a>
  and a wiki using <a href="http://moinmo.in/" target="_blank">MoinMoin</a>.
  I also handled much of the systems administration, setting up and
  configuring MySQL, Tomcat and Apache on their RedHat servers.
</p>

<h3>
  <a href="http://www.piksel.com/" target="_blank">
    <img src="media/img/piksel.png" alt="Piksel logo">ioko (now Piksel)
  </a>
  <small>Mar 2005</small>
</h3>
<p>
  At <a href="http://www.piksel.com/" target="_blank">ioko</a> I worked
  on what is now <a href="http://go.sky.com/vod/page/default/home.do">Sky
    Go</a>. The November 2009 release included support for viewing content on
  the Xbox games console and I was the main developer working on the SOAP
  Java API.
</p>
<p>
  Before that I worked for a client in the pharmaceutical sector,
  developing and maintaining a system for secure data collection,
  manipulation and delivery from thousands of pharmacy shops into the
  client's systems. I also helped develop an ISP service for these
  pharmacies, including access to the <a href="http://n3.nhs.uk/"
    target="_blank">NHS N3 network</a> and remote configuration and update
  of routers at individual pharmacies.
</p>
{% endblock %}
