{% extends "page.j2" %} 
--- 
title: "Contact" 
--- 
{% block title %}{{ site_title }} : Contact{% endblock %}
{% block content %}
<div id="contact">
  <ul class="list-unstyled">
    <li><a href="mailto:heather@problemchimp.org"><div class="vcenter"><i class="fa fa-envelope fa-2x class="vcenter""></i></div><div class="contact-text vcenter">heather@problemchimp.org</div></a></li>
    <li><a href="http://twitter.com/h_mcc"><div class="vcenter"><i class="fa fa-twitter fa-2x"></i></div><div class="contact-text vcenter">twitter.com/h_mcc</div></a></li>
    <li><a href="https://github.com/hmcc"><div class="vcenter"><i class="fa fa-github fa-2x"></i></div><div class="contact-text vcenter">github.com/hmcc</div></a></li>
    <li><a href="http://uk.linkedin.com/in/heathermccartney"><div class="vcenter"><i class="fa fa-linkedin fa-2x"></i></div><div class="contact-text vcenter">uk.linkedin.com/in/heathermccartney</div></a></li>
</div>
{% endblock %}
